@import url(./global.css);

/*----- Header -----*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-header span{
    color: var(--color-primary);
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header  a {
    text-decoration: none;
    color: var(--color-black);
}

.header-content{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-content button{
    background-color: transparent;
    padding: 16px 32px;
    border-radius: 10px;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

/*----- Fim Header -----*/

/*------ main ------*/

main{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
    

}



.main-container h1{
    font-size: 60px;
    width: 563px;
    
}

.main-container span{
    color: var(--color-primary);
}

.main-container p{
    font-size: 18px;
    width: 503px;
    line-height: 1.5;
    
}

.header-button{
    display: flex;
    gap: 24px;
}


.order-now{
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;    
}

.explore-products{
    padding: 16px 32px;
    border-radius: 10px;
    color: var(--color-primary);
    background-color: transparent;
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

/*------ Fim main ------*/


/*------  Why Choose Us ------*/

.why-choose-us{
    text-align: center;
    background-color: var(--color-BG-Overlay);
    margin-top: 102px;
}

.why-choose-us h1{
    font-size: 48px;
    padding-top: 100px;
}

.why-choose-us p{
    font-size: 18px;
}

.section-container{
    display: flex;
    justify-content: center;
    gap: 112px;
}

.choose-cards p{
    width: 275.3px;
}

.customestatistics{
    margin-top: 60px;
}

/*------  Fim Why Choose Us ------*/

