@import url(./global.css);

/*----- Header -----*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-header span{
    color: var(--color-primary);
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header  a {
    text-decoration: none;
    color: var(--color-black);
}

.header-content{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-content button{
    background-color: transparent;
    padding: 16px 32px;
    border-radius: 10px;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

/*----- Fim Header -----*/

/*------ main ------*/

main{
    display: flex;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
    margin-left: 100px;

}



.main-container h1{
    font-size: 60px;
    width: 563px;
    
}

.main-container span{
    color: var(--color-primary);
}

.main-container p{
    font-size: 18px;
    width: 503px;
    line-height: 1.5;
    
}

.header-button{
    display: flex;
    gap: 24px;
}


.order-now{
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;    
}

.explore-products{
    padding: 16px 32px;
    border-radius: 10px;
    color: var(--color-primary);
    background-color: transparent;
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

/*------ Fim main ------*/


/*------  Why Choose Us ------*/

.why-choose-us{
    text-align: center;
    background-color: var(--color-BG-Overlay);
    margin-top: 102px;
}

.why-choose-us h1{
    font-size: 48px;
    padding-top: 100px;
}

.why-choose-us p{
    font-size: 18px;
}

.section-container{
    display: flex;
    justify-content: center;
    gap: 112px;
    margin-bottom: 160px;
}

.choose-cards p{
    width: 275.3px;
}

.customestatistics{
    margin-top: 60px;
    margin-bottom: 100px;
}

/*------  Fim Why Choose Us ------*/


/*----- special-dishes -----*/


.special-dishes h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.special-cotainer {
    justify-content: center;
    display: flex;
    gap: 20px;
    text-align: center;
    margin-top: 60px;
}

.special-cards{
    width: 400px;
    margin-bottom: 100px;
}

.special-cards p{
    width: 279px;
    margin:  0 auto;
    font-size: 18px;
}

.cards-button button{
    padding: 16px 140px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}
/*----- Fim special dishes -----*/

/*----- our clients  -----*/

.our-clients{
    text-align: center;
    margin-top: 60px;
    background-color: var(--color-BG-Overlay);
    padding: 100px;
}

.our-clients p{
    font-size: 18px;
}

.our-clients-container{
    display: flex;
    gap: 21px;
    justify-content: center;
    margin-top: 60px;
}

.our-clients-cards{
    justify-content: center;
    width: 300px;
    background-color: rgba(255, 255, 255);
    padding: 40px;
    border-radius: 16px;
    
}

.our-clients-cards p{
    font-size: 18px;
    line-height: 1.5;
}

.Guy-Hawkins:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.Esther-Howard:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.Jane-Cooper:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

/*----- Fim our clients  -----*/

/*----- About Us -----*/

.About-Us{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 100px;
}

.About-Us h1{
    font-size: 40px;
    margin-bottom: 24px;
}

.About-Us p{
    width: 558px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.About-Us button{
    color: var(--color-white);
    padding: 16px 32px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/*----- Fim About Us -----*/




